<form action="/course/{{ course.next }}">
    <section id="{{ course.slug }}">
        <h2>{{ course.name }}</h2>

        {{> input slug=course.slug field="teacher" name="Teacher" value=values.teacher type="text"}}
        {{> input slug=course.slug field="startdate" name="Startdate" value=values.startdate type="date"}}

        {{> radio name="Course level" slug=course.slug field="level" count=11 value=values.level}}
        {{> radio name="Course explanation" slug=course.slug field="explanation" count=11 value=values.explanation}}
        {{> radio name="Insights" slug=course.slug field="insight" count=11 value=values.insight}}

        <input type="hidden" name="next" value="{{ course.next }}">
        <input type="hidden" name="course" value="{{ course.slug }}">

        <button type="submit" data-step="{{ course.next }}">
            {{#when course.next 'noteq' 'final' }} Next course{{/when}}
            {{#when course.next 'eq' 'final' }} Verify answers{{/when}}
        </button>
    </section>
</form>